Home{
    background-color: rgb(165, 161, 42);
    padding: 0%;
    border: 0cap;
    margin: 0%;
}
Menu{
    background-color:rgb(165, 161, 42) ;
    padding: 0%;
    border: 0cap;
    margin: 0%;
}
contact{
    background-color: rgb(165, 161, 42);
    padding: 0%;
    border: 0cap;
    margin: 0%;
}
